@import './style/themes/index';

// https://www.sass.hk/docs/
// @{} -> #{$gantt-prefix}
.@{gantt-prefix}-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background: #fff;
  overflow: hidden; // TODO

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &-left {
    position: relative;
    // top: 0;
    // left: 0;
    overflow: hidden;
    // flex: 1;
    // background: rgb(232, 178, 178);
  }

  &-right {
    position: relative;
    overflow: hidden;
    // width: 100%;
    // flex: 1;
    // z-index: 1;
    // background: rgb(173, 173, 220);
    // height: 48px;
  }

  header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 48px;
  }

  main {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    flex: 1;
    border-top: 1px solid #f0f0f0;
    will-change: transform;
    will-change: overflow;
  }
}